.container {
    @include container;
    max-width: calc((100% / 3) * 2);

    .post {
        font-size: 20px;

        a {
            color: #212529;

            h2 {
                font-size: 36px;
                margin-top: 36px;
                margin-bottom: 10px;
                font-weight: 800;
                font-family: $font-family;
                line-height: 1.2;
            }

            h3 {
                font-weight: 300;
                margin: 0 0 10px;
                font-size: 1.75rem;
                font-family: $font-family;
                line-height: 1.2;
            }
        }

        a:hover {
            color: $primary-color;
        }

        p {
            font-size: 18px;
            font-style: italic;
            color: #6c757d;
            line-height: 1.5;
            margin-bottom: 30px;
        }
    }

    .btn::after {
        content: '';
        clear: both;
        display: block;
    }

    .button {
        background-color: $primary-color;
        font-size: 14px;
        font-weight: 800;
        padding: 15px 25px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: $font-family;
        float: right;
        color: #fff;
    }

    .button:hover {
        background-color: #00657b;
    }
}